<div class="row">
  <div class="container">
      <p id="notice"><%= notice %></p>

      

      <h1 align = 'center'>Fuel Types</h1>
      <div style="text-align: center; margin-top:5vh; margin-bottom:5vh;">
          <%= link_to 'New Fuel Type', new_fuel_type_path, class:'btn btn-secondary btn-lg text-center' %>
      

      </div>
      
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Fuelname</th>
            <th>Price</th>
            <th>Added by</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @fuel_types.each do |fuel_type| %>
            <tr>
              <td><%= fuel_type.fuelname %></td>
              <td><%= fuel_type.price %></td>
              <td><%= fuel_type.user.username %></td>
              <td><%= link_to 'Show', fuel_type, class:'btn btn-sm btn-success'%></td>
              <td><%= link_to 'Edit', edit_fuel_type_path(fuel_type),class:'btn btn-sm btn-primary' %></td>
              <td><%= link_to 'Destroy', fuel_type, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      
      
  </div>
</div>